## Set Data Structure

A set is used to represent a group of unique values as a single entity.

* Duplicates are not allowed in a set.
* The insertion order is not guaranteed
* Indexing and slicing are not supported with sets.
* Sets can contain heterogeneous elements.
* Set objects are mutable, meaning we can modify them after creation.
* Set elements are defined using curly braces `{}` and are comma-separated.
* Mathematical operations such as **union, intersection, difference**, can be performed on sets.

### Creating a Set

> ⚠️ Note: `s = {}` creates an empty dictionary, not a set.

To create an empty set, use the `set()` constructor.

In [1]:
elements = set()

In [2]:
type(elements)

set

In [3]:
elements.add(20)
elements.add(10)
elements.add("z")
elements.add("A")
elements.add(10)
elements.add(20)

In [4]:
elements

{10, 20, 'A', 'z'}

In [5]:
elements[0]

TypeError: 'set' object is not subscriptable

In [6]:
elements.add(50)
elements

{10, 20, 50, 'A', 'z'}

In [7]:
# set with predefined values
new_set = {10, 20, 30, 40}
new_set

{10, 20, 30, 40}

In [8]:
# converting a list to a set
set([10, 20, 40, 30])

{10, 20, 30, 40}

In [9]:
set(range(0, 101, 10))

{0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [10]:
set("Hello World")

{' ', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [11]:
len(set("Alina"))

5

<div style="text-align: left">

### Set Comparison Operators

Sets do not support the `+` and `*` operators.

| Operator | Meaning         | Example                        |
| -------- | --------------- | ------------------------------ |
| `==`     | Equal           | `{1, 2} == {2, 1}` → `True`    |
| `!=`     | Not equal       | `{1, 2} != {1, 2, 3}` → `True` |
| `<`      | Proper subset   | `{1, 2} < {1, 2, 3}` → `True`  |
| `<=`     | Subset          | `{1, 2} <= {1, 2}` → `True`    |
| `>`      | Proper superset | `{1, 2, 3} > {1, 2}` → `True`  |
| `>=`     | Superset        | `{1, 2, 3} >= {1, 2}` → `True` |

* **Proper subset**: `s1 < s2` → `s2` contains all elements of `s1`, and `s1 != s2`.  
* **Subset**: `s1 <= s2` → `s2` contains all elements of `s1`, possibly equal.  
* **Proper superset**: `s1 > s2` → `s1` contains all elements of `s2`, and `s1 != s2`.  
* **Superset**: `s1 >= s2` → `s1` contains all elements of `s2`, possibly equal.

</div>

In [12]:
s1 = {10, 20, 30}
s2 = {50, 60, 40}
s1 + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [13]:
s1 * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [14]:
# Membership operators
5 not in s1

True

In [15]:
30 in s1

True

### Important Set Methods

| Method                              | Description                                                                      |
|-------------------------------------|----------------------------------------------------------------------------------|
| `add(elem)`                         | Adds `elem` to the set if it’s not already present..                                                |
| `update(iterable)`                  | Updates the set with elements from any iterable.                     |
| `remove(elem)`                      | Removes the specified element; raises `KeyError` if `elem` is not in the set.                 |
| `discard(elem)`                     | Removes the specified element; silently ignores if `elem` is not in the set.         |
| `pop()`                             | Removes and returns an arbitrary element from the set.; raises `KeyError` if the set is empty. |
| `clear()`                           | Removes all elements from the set.                                               |
| `copy()`                            | Returns a shallow copy of the set.                                               |
| `union(*sets)` or `।`               | Returns a new set containing all unique elements from all given sets.            |
| `intersection(*sets)` or `&`        | Returns a new set with common elements from all sets.                            |
| `difference(*sets)` or `-`          | Returns a set with elements in the first set but not in the others.              |
| `symmetric_difference(set)` or `^`  | Returns a set with elements in either of the sets, but not in both.              |
| `issubset(set)` or `<=`, `<`        | Returns `True` if the set is a subset of another set. Also supports `<=` for subset and `<` for proper subset.                           |
| `issuperset(set)` or `>=`, `>`      | Returns `True` if the set is a superset of another set. Also supports `>=` for superset and `>` for proper superset.                         |
| `isdisjoint(set)`                   | Returns `True` if two sets have no elements in common.                           |

In [16]:
# to add single element
elements = {10, 20, 30, 40}
elements.add(50)
elements

{10, 20, 30, 40, 50}

In [17]:
# to add multiple items
elements.update([1000, 2000], range(100, 500, 100))
elements

{10, 20, 30, 40, 50, 100, 200, 300, 400, 1000, 2000}

In [18]:
set_of_nums = set()
set_of_nums.update(range(0, 10, 2), range(1, 10, 1))
set_of_nums

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
# to remove element
set_of_nums.remove(0)
set_of_nums

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
set_of_nums.discard(0)
set_of_nums

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
# return and remove random element
set_of_nums.pop()

1

In [22]:
# to remove all elements
set_of_nums.clear()

In [23]:
set_of_nums

set()

In [24]:
set_of_nums.pop()

KeyError: 'pop from an empty set'

**Union (A ∪ B)**

Elements that are in `A`, in `B`, or in both.

```mermaid
graph TD
    A[Set A: 1, 2, 3]
    B[Set B: 3, 4, 5]
    U[Union: 1, 2, 3, 4, 5]
    A --> U
    B --> U
```

In [25]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [26]:
s1 | s2

{1, 2, 3, 4, 5}

**Intersection (A ∩ B)**

Elements that are in both (common) `A` and `B`.

```mermaid
graph TD
    A[Set A: 1, 2, 3]
    B[Set B: 3, 4, 5]
    I[Intersection: 3]
    A --> I
    B --> I
```

In [27]:
s1.intersection(s2)

{3}

In [28]:
s1 & s2

{3}

**Difference (A - B)**

Elements that are in `A` but not in `B`.

```mermaid
graph TD
    A[Set A: 1, 2, 3]
    B[Set B: 3, 4, 5]
    D[Difference A - B: 1, 2]
    A --> D
    B -. not in .-> D
```

In [29]:
s1.difference(s2)

{1, 2}

In [30]:
s1 - s2

{1, 2}

**Symmetric Difference (A △ B)**

Elements that are in either `A` or `B`, but not in both.

```mermaid
graph TD
    A[Set A: 1, 2, 3]
    B[Set B: 3, 4, 5]
    SD[Symmetric Difference: 1, 2, 4, 5]
    A --> SD
    B --> SD
    Common[Common Element: 3]
    A --> Common
    B --> Common
    Common -. excluded .-> SD
```

In [31]:
s1 ^ s2

{1, 2, 4, 5}

In [32]:
s1.symmetric_difference(s2)

{1, 2, 4, 5}

In [33]:
# aliasing – creating a new reference to the same object
elements = {10, 20, 30}
new_elements = elements
new_elements

{10, 20, 30}

In [34]:
new_elements.add(50)
elements

{10, 20, 30, 50}

In [35]:
new_elements

{10, 20, 30, 50}

In [36]:
# cloning - shallow copy
elements = {10, 20, 30}
new_elements = elements.copy()
new_elements

{10, 20, 30}

In [37]:
new_elements.add(500)
elements

{10, 20, 30}

In [38]:
new_elements

{10, 20, 30, 500}

### Set Comprehension

In [39]:
square_nums = {num * num for num in range(11)}
square_nums

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [40]:
powers_of_two = {2 ** num for num in range(1, 11)}
powers_of_two

{2, 4, 8, 16, 32, 64, 128, 256, 512, 1024}

In [41]:
#  Write a Program to Print different Vowels Present in the given Word? 
word = input("Enter the Word:")
(set(word) & {"a", "e", "i", "o", "u"})

Enter the Word: Hola

{'a', 'o'}