## Data Structure: Set

* [Set Theory | All-in-One Video](https://www.youtube.com/watch?v=5ZhNmKb-dqk)

A set is an unordered, mutable, collection of unique elements.

* Duplicates are not allowed in a set.
* The insertion order is not guaranteed
* Indexing and slicing are not supported with sets.
* Sets can contain heterogeneous elements.
* Set objects are mutable, meaning we can modify them after creation.
* Set elements are defined using curly braces `{}` and are comma-separated.
* Mathematical operations such as **union, intersection, difference**, can be performed on sets.

### Creating a Set

⚠️ Note: `s = {}` creates an empty dictionary, not a set.

To create an empty set, use the `set()` constructor.

In [1]:
elements = set()

In [2]:
type(elements)

set

In [3]:
elements.add(20)
elements.add(10)
elements.add("z")
elements.add("A")
elements.add(10)
elements.add(20)

elements

{10, 20, 'A', 'z'}

In [4]:
elements[0]

TypeError: 'set' object is not subscriptable

In [5]:
elements.add(50)
elements

{10, 20, 50, 'A', 'z'}

In [6]:
# set with predefined values
new_set = {10, 20, 30, 40}
new_set

{10, 20, 30, 40}

In [7]:
# converting a list to a set
set([10, 20, 40, 30])

{10, 20, 30, 40}

In [8]:
set(range(0, 101, 10))

{0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [9]:
set("Hello World")

{' ', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [10]:
len(set("Alina"))

5

### Set Comparison Operators

Sets do not support the `+` and `*` operators.

<p style="text-align: left">

| Operator | Meaning         | Example                        |
| -------- | --------------- | ------------------------------ |
| `==`     | Equal           | `{1, 2} == {2, 1}` → `True`    |
| `!=`     | Not equal       | `{1, 2} != {1, 2, 3}` → `True` |
| `<`      | Proper subset   | `{1, 2} < {1, 2, 3}` → `True`  |
| `<=`     | Subset          | `{1, 2} <= {1, 2}` → `True`    |
| `>`      | Proper superset | `{1, 2, 3} > {1, 2}` → `True`  |
| `>=`     | Superset        | `{1, 2, 3} >= {1, 2}` → `True` |

</p>

* **Proper subset**: `s1 < s2` → `s2` contains all elements of `s1`, and `s1 != s2`.
* **Subset**: `s1 <= s2` → `s2` contains all elements of `s1`, possibly equal.
* **Proper superset**: `s1 > s2` → `s1` contains all elements of `s2`, and `s1 != s2`.
* **Superset**: `s1 >= s2` → `s1` contains all elements of `s2`, possibly equal.

In [11]:
s1 = {10, 20, 30}
s2 = {50, 60, 40}
s1 + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [12]:
s1 * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [13]:
# Membership operators
5 not in s1

True

In [14]:
30 in s1

True

### Important Set Methods

| Method                              | Description                                                                      |
|-------------------------------------|----------------------------------------------------------------------------------|
| `add(elem)`                         | Adds `elem` to the set if it’s not already present..                                                |
| `update(iterable)`                  | Updates the set with elements from any iterable.                     |
| `remove(elem)`                      | Removes the specified element; raises `KeyError` if `elem` is not in the set.                 |
| `discard(elem)`                     | Removes the specified element; silently ignores if `elem` is not in the set.         |
| `pop()`                             | Removes and returns an arbitrary element from the set.; raises `KeyError` if the set is empty. |
| `clear()`                           | Removes all elements from the set.                                               |
| `copy()`                            | Returns a shallow copy of the set.                                               |
| `union(*sets)` or `।`               | Returns a new set containing all unique elements from all given sets.            |
| `intersection(*sets)` or `&`        | Returns a new set with common elements from all sets.                            |
| `difference(*sets)` or `-`          | Returns a set with elements in the first set but not in the others.              |
| `symmetric_difference(set)` or `^`  | Returns a set with elements in either of the sets, but not in both.              |
| `issubset(set)` or `<=`, `<`        | Returns `True` if the set is a subset of another set. Also supports `<=` for subset and `<` for proper subset.                           |
| `issuperset(set)` or `>=`, `>`      | Returns `True` if the set is a superset of another set. Also supports `>=` for superset and `>` for proper superset.                         |
| `isdisjoint(set)`                   | Returns `True` if two sets have no elements in common.                           |

In [15]:
# to add single element
elements = {10, 20, 30, 40}
elements.add(50)
elements

{10, 20, 30, 40, 50}

In [16]:
# to add multiple items
elements.update([1000, 2000], range(100, 500, 100))
elements

{10, 20, 30, 40, 50, 100, 200, 300, 400, 1000, 2000}

In [17]:
set_of_nums = set()
set_of_nums.update(range(0, 10, 2), range(1, 10, 1))
set_of_nums

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
# to remove element
set_of_nums.remove(0)
set_of_nums

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
set_of_nums.discard(0)
set_of_nums

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
# return and remove random element
set_of_nums.pop()

1

In [21]:
# to remove all elements
set_of_nums.clear()
set_of_nums

set()

In [22]:
set_of_nums.pop()

KeyError: 'pop from an empty set'

**Union (A ∪ B)**

Elements that are in `A`, in `B`, or in both.

![union](https://i.ibb.co.com/Tqb0GnRD/image.png)

In [23]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [24]:
s1 | s2

{1, 2, 3, 4, 5}

**Intersection (A ∩ B)**

Elements that are in both (common) `A` and `B`.

![intersection](https://i.ibb.co.com/dJJmJD8D/image.png)

In [25]:
s1.intersection(s2)

{3}

In [26]:
s1 & s2

{3}

**Difference (A - B)**

Elements that are in `A` but not in `B`.

![difference](https://i.ibb.co.com/mCgtJfSZ/image.png)

In [27]:
s1.difference(s2)

{1, 2}

In [28]:
s1 - s2

{1, 2}

**Symmetric Difference (A △ B)**

Elements that are in either `A` or `B`, but not in both.

![symmetric-difference](https://i.ibb.co.com/GvCmK2mJ/image.png)

In [29]:
s1 ^ s2

{1, 2, 4, 5}

In [30]:
s1.symmetric_difference(s2)

{1, 2, 4, 5}

In [31]:
# aliasing – creating a new reference to the same object
elements = {10, 20, 30}
new_elements = elements
new_elements

{10, 20, 30}

In [32]:
new_elements.add(50)
elements

{10, 20, 30, 50}

In [33]:
new_elements

{10, 20, 30, 50}

In [34]:
# cloning - shallow copy
elements = {10, 20, 30}
new_elements = elements.copy()
new_elements

{10, 20, 30}

In [35]:
new_elements.add(500)
elements

{10, 20, 30}

In [36]:
new_elements

{10, 20, 30, 500}

### Set Comprehension

In [37]:
square_nums = {num * num for num in range(11)}
square_nums

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [38]:
powers_of_two = {2 ** num for num in range(1, 11)}
powers_of_two

{2, 4, 8, 16, 32, 64, 128, 256, 512, 1024}

### Practice

#### Write a Program to Print different Vowels Present in the given Word?

In [39]:
word = "Hola"
(set(word) & {"a", "e", "i", "o", "u"})

{'a', 'o'}

### Use set in DSA Problems?

* Fast lookup: `x` in set → average `O(1)` time.
* Duplicates removal: Easy with `set()`.
* Efficient filtering: Using set operations.
* Tracking visited nodes: For BFS/DFS.
* Sliding window uniqueness: longest substring without repeating characters.